html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.information-black {
  p {
    @include format-text($font-base-size, $dark-gray-color, none, uppercase, bold, center);
  }
}

.information-white {
  p {
    @include format-text($font-base-size, $white-color, none, uppercase, bold, center);
  }
}