// Fonts
$font-family: "Jost", sans-serif;

// Sizes
$font-base-size: 14px;
$font-large-size: 20px;
$font-xlarge-size: 22px;

// Colors
$white-color: #ffffff;
$black-color: #000000;
$neutral-light-color: #eee2dc;
$gray-soft-color: #bab2b5;
$light-gray-color: #d4d3d3;
$dark-gray-color: #222222;
$deep-blue-color: #0056b3;
$dark-blue-color: #004085;